#app {
  min-width:100vw;
  max-width:100vw;
  min-height: 100vh;
  max-height: 100vh;
  position: absolute;
  top:0;
  left:0;
}

/* LAYOUTS */
.layout--header-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

/* COMMON STYLES */

.hidden {
  display:none;
}

/* COMMON COMPONENTS */


/* COMPONENTS */

.menu {
  padding: 5px;
}

.main {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 5px;
}

.dialog--content {
  max-height: 50vh;
  overflow:scroll;
}

.dialog--content .img {
  background: white;
  position: sticky;
  top:0;
  text-align: center;
}

.table {
  width: 100%;
}

tr.error-row {
  background: indianred;
}

.table th {
  position: sticky;
  z-index: 10;
  top:0;
  left:0;
  background: white;
}